@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300,400&display=swap');
@import "vars.css";

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
}


body {
    color: var(--white);
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
    height: 100%;
    background-image: linear-gradient(180deg,rgb(76, 84, 104), #3C4556);
}

a {
    text-decoration: none;
}

a p {
    color: var(--blue);
}

ul {
    list-style: none;
}

h1, h2, h3, p {
    margin: 7px 0px;
}

h1, h2 {
    color: var(--green);
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 17px;
}

p {
    font-size: 17px;
    line-height: 140%;
}

.nav-link {
    text-decoration: none;
    margin: 10px;
    color: #BCC2CD;
}

.nav-link:hover {
    color: rgb(236, 141, 200);
    border-bottom: 1px solid rgba(80, 250, 123, 1);
    transition: color 300ms,
                border 400ms;

}

